@use '../setting/function' as *;
@use '../setting/mixin' as *;
@use '../variable/color' as *;
@use '../variable/font' as *;
@use 'sass:math';

body {
  overflow-y: scroll;
  background-color: var(--primary-color);
}

.pc-only {
  @include media(sp) {
    display: none !important;
  }
  @include media(pc) {
    display: block;
  }
}

.sp-only {
  @include media(sp) {
    display: block;
  }
  @include media(pc) {
    display: none !important;
  }
}
