header.l-header
  .l-header_area
    h1.l-header_logo
      | Horror movie search
    .l-header_nav
      button.l-header_colorMode(data-header-color="light")
        span.l-header_colorCircle
      button.l-header_search(data-header-search)
        svg.l-header_serachIcon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300px" height="300px" viewBox="0 0 300 300")
          g
            circle.l-hader_icon(cx="136" cy="125.5" r="71")
            line.l-hader_icon(x1="179" y1="186.5" x2="235" y2="245.5")
      .l-header_language
        a.l-header_jp(href="#")
          | JP
        span.l-header_slash
          | /
        a.l-header_en(href="#")
          | EN
    .l-header_modal(data-header-modal)
      .l-header_area



