@use "../foundation/variable/color" as *;
@use "../foundation/variable/font" as *;
@use "../foundation/setting/function" as *;
@use "../foundation/setting/mixin" as *;
@use "sass:math";

.l-header {
  position: sticky;
  top: 0;
  left: 0;
  > .l-header_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    @include media(sp) {
      width: sp(340);
      height: sp(60);
    }
    @include media(pc) {
      width: pc(1280);
      height: pc(84);
    }
    > .l-header_logo {
      color: var(--secondary-color);
      @include media(sp) {
        font-size: sp(20);
      }
      @include media(pc) {
        font-size: pc(32);
      }
    }
    > .l-header_nav {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @include media(sp) {
      }
      @include media(pc) {
        gap: pc(16);
      }
      > .l-header_colorMode {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid $gray_02;
        border-radius: calc(infinity * 1px);
        background-color: var(--primary-color);
        @include media(sp) {
          width: sp(40);
          height: sp(22);
        }
        @include media(pc) {
          width: pc(40);
          height: pc(22);
          cursor: pointer;
        }
        > .l-header_colorCircle {
          display: block;
          border-radius: 100%;
          background-color: var(--secondary-color);
          @include media(sp) {
            width: sp(16);
            height: sp(16);
            // margin-left: pc(2);
            transform: translateX(sp(2.5));
          }
          @include media(pc) {
            width: pc(16);
            height: pc(16);
            // margin-left: pc(2);
            transform: translateX(pc(2.5));
          }
        }
      }
      > .l-header_search {
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(sp) {
        }
        @include media(pc) {
          width: pc(22);
          height: pc(22);
          cursor: pointer;
        }
        > .l-header_serachIcon {
          width: 100%;
          height: 100%;
          g {
            > .l-hader_icon {
              stroke-width: 20;
              stroke-linecap: round;
              stroke: var(--secondary-color);
              fill: none;
              stroke-linejoin: round;
              stroke-miterlimit: 10;
            }
          }
        }
      }
      > .l-header_language {
        display: flex;
        color: var(--secondary-color);
        @include media(sp) {
        }
        @include media(pc) {
          font-size: pc(16);
          gap: pc(6);
        }
      }
    }
    > .l-header_modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      @include media(sp) {
      }
      @include media(pc) {
        height: 100vh;
      }
    }
  }
}
