@use '../../foundation/variable/color' as *;
@use '../../foundation/variable/font' as *;
@use '../../foundation/setting/function' as *;
@use '../../foundation/setting/mixin' as *;
@use 'sass:math';

.p-top {
  .p-top_area {
    @include media(sp) {
    }
    @include media(pc) {
      margin-top: pc(64);
    }
    .p-top_movie {
      .p-top_movieList {
        display: grid;
        margin-right: auto;
        margin-left: auto;
        @include media(sp) {
          grid-template-columns: repeat(2, 1fr);
          gap: sp(10);
          width: sp(340);
        }
        @include media(pc) {
          grid-template-columns: repeat(4, 1fr);
          gap: pc(26.66);
          width: pc(1280);
        }
        .p-top_movieItem {
          overflow: hidden;
          border-radius: 8px;
          aspect-ratio: 2 / 3;
          @include media(sp) {
            width: sp(165);
          }
          @include media(pc) {
            width: pc(300);
            cursor: pointer;
          }
        }
      }
      .p-top_buttonArea {
        @include media(sp) {
          margin-top: sp(40);
          margin-bottom: sp(40);
        }
        @include media(pc) {
          margin-top: pc(80);
          margin-bottom: pc(80);
        }
      }
    }
  }
}
