---
const {
  href,
  target = "",
  classList = "",
  style = "",
  text,
  ...data
} = Astro.props;
---

<a
  href={href}
  target={target || undefined}
  class={`c-button ${classList}`}
  style={style || undefined}
  {...data}
>
  <span class="c-button_text" set:html={text} />
</a>

<style lang="scss">
  .c-button {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(pc) {
      width: pc(320);
      height: pc(48);
      background-color: #000;
    }
    .c-button_text {
      color: #fff;
    }
  }
</style>
