- var PAGE_TYPE = "sub";
- var TITLE = "en";
include ../html/include/config/_config
include ../html/include/compornent/_include

doctype html
html(lang="en")
  include ../html/include/config/_head
  body.p-top(data-fix data-color-mode="light")
    include ../html/include/layout/_header
    link(rel="stylesheet", href="../html/include")
    .p-top_area
      .p-top_movie
        ul.p-top_movieList(data-movie-list)
        .p-top_buttonArea
          .c-button(date-movie-button)
            span.c-button_text
              | MORE
    include ../html/include/layout/_footer
