- var PAGE_TYPE = "top";
- var TITLE = "映画検索サイト";
include ./html/include/config/_config
include ./html/include/compornent/_include

doctype html
html(lang="ja")
  include ./html/include/config/_head
  body.p-top(data-fix data-color-mode="light")
    include ./html/include/layout/_header
    main.p-top_area
      .p-top_movie
        ul.p-top_movieList(data-movie-list)
        .p-top_buttonArea
          .c-button(data-movie-button)
            span.c-button_text
              | MORE
    include ./html/include/layout/_footer
