---

---
<header class="l-header">
  <div class="l-header_area">
    <h1 class="l-header_logo">
      Horror movie list
    </h1>
    <div class="l-header_nav">
      <button class="l-header_colorMode" type="button" data-header-color="light">
        <span class="l-header_colorCircle"></span>
      </button>
    </div>
  </div>
</header>