- var PAGE_TYPE = "sub";
- var TITLE = "en";
include ./html/include/config/_config
include ./html/include/compornent/_include

doctype html
html(lang="en")
  include ./html/include/config/_head
  body
    include ./html/include/layout/_header
    
    include ./html/include/layout/_footer
